<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Log" version="1.0.29" targetFramework="net45" />
  <package id="FMUtils.KeyboardHook" version="1.0.140.2145" targetFramework="net45" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net45" />
  <package id="NLog" version="4.4.10" targetFramework="net45" />
  <package id="NLog.Config" version="4.4.10" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.10" targetFramework="net45" />
</packages>